.card__like_active {
    width: 24px;
    height: 20px;
    border: 1px solid #ffffff; /* Параметры рамки */
    background: #ffffff;
    background-image: url(../../../../images/Union.png);
    background-repeat: no-repeat;
    cursor: pointer;
    margin: 4px;
    padding: 0;
  }
  
  
  