.card__title {
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis; /*то, что не поместилось, отображается многоточием*/
    white-space: nowrap; /*обработка пробельных символов - слова не переносятся*/
    max-width: 190px;
    margin-bottom: 4px;
  }
  