.header__logo {
  max-width: 142px;
  max-height: 33px;
  object-fit: cover;
}

@media screen and (max-width: 320px) {
  .header__logo {
    max-width: 103px;
    max-height: 24px;
    padding-left: 27px;
    padding-top: 0;
    padding-bottom: 10px;
  }
}
