.gallery__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px 17px;
    margin: 50px auto 68px;
    padding: 0;
  }
  
  @media screen and (max-width: 900px) and (min-width: 647px) {
    .gallery__list {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
  }
  
  @media screen and (max-width: 647px) and (min-width: 320px) {
    .gallery__list {
      grid-template-columns: minmax(282px, 1fr);
      margin: 36px auto 0;
    }
  }