.popup__input-error {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  padding: 5px 0 0 0;
  margin: 0 auto;
  opacity: 0;
  border: none;
  display: block;
  min-height: 30px;
}

@media screen and (max-width: 564px) {
  .popup__input-error {
    padding: 15px 0 0 0;
  }
}

@media screen and (max-width: 320px) {
  .popup__input-error {
    margin-right: 0;
    margin-left: 0;
  }
}
