.profile {
  max-width: 880px;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .profile {
    max-width: calc(100% - 2 * 15px);
  }
}

@media screen and (max-width: 677px) {
  .profile {
    max-width: calc(100% - 2 * 10px);
    flex-direction: column;
    margin-top: 13px;
  }
}

@media screen and (max-width: 320px) {
  .profile {
    max-width: calc(100% - 2 * 19px);
    padding-top: 41px;
    margin-top: 0;
    margin-bottom: 7px;
  }
}
