.zoomPopup__photo-cards-text {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-left: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis; /*то, что не поместилось, отображается многоточием*/
  white-space: nowrap; /*обработка пробельных символов - слова не переносятся*/
  color: #ffffff;
}
