.card {
    background-color: #fff;
    max-width: 282px;
    max-height: 361px;
    margin: 0;
    border-radius: 10px;
    overflow: hidden;
    display: block;
    position: relative;
    cursor: pointer;
  }
  
  @media screen and (max-width: 900px) {
    .card {
      margin-left: auto;
      margin-right: auto;
    }
  }
  