.popup__cross {
  position: absolute;
  width: 32px;
  height: 32px;
  background-image: url(../../../images/CloseIcon.png);
  padding: 0;
  top: -40px;
  right: -40px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-color: transparent;
  color: inherit;
  border: 0;
}

.popup__cross:hover {
  opacity: 0.6;
}

@media screen and (max-width: 596px) {
  .popup__cross {
    width: 30px;
    height: 30px;
    top: -37px;
    right: 0px;
  }
}

@media screen and (max-width: 320px) {
  .popup__cross {
    width: 22px;
    height: 22px;
    top: -38px;
  }
}
