.profile__add-button {
  width: 150px;
  height: 50px;
  padding: 14px 64px 14px 64px;
  border: 2px solid #ffffff; /* Параметры рамки */
  background: #131313;
  background-image: url(../../../images/Vector2.svg);
  background-position: center;
  align-self: center;
  background-size: 22px 22px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
}


@media screen and (max-width: 677px) {
  .profile__add-button {
    width: 282px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 320px) {
  .profile__add-button {
    padding: 22px 131px 22px 131px;
    background-size: 16px 16px;
    margin-top: 0;
  }
}
