.popup__header {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding: 34px 64px 36px 36px;
  margin: 0;
}

@media screen and (max-width: 542px) {
  .popup__header {
    max-width: calc(100% - 2 * 19px);
    font-size: 18px;
    line-height: 22px;
    padding: 25px 22px 38px 22px;
  }
}
