.popup__field {
  display: block;
  border: none;
  padding: 5px 0;
  margin: 0 auto;
  width: 358px;
}

@media screen and (max-width: 460px) {
  .popup__field {
    max-width: calc(100% - 2 * 19px);
  }
}
